@use './partials/_variables.scss' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~bootstrap/scss/bootstrap.scss";

.ldg-text-black{
    color: $black;
}

#admin{
  height: 100vh;
  overflow: hidden;
  display:flex;

  #sidebar{
    background-color: $blue;
    color: $black;
    height: 100%;
    li{
        a{
            &:hover{
                background-color: $blue;
                transition: 0.2s;
            }
        }
    }
  }

  #wrapper{
       flex-grow: 1;


       header{
           min-height:70px;

           .img-profile {
               height:2rem;
               width:2rem;
           }
       }
   }
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.ldg-card-bg {
    background: linear-gradient(to right, $black, $blue) !important;
    color: #fff;
}

.card .fa-solid, .card .card-statistic-3 .card-icon-large {
    font-size: 110px;
}

.dashboard-icon{
    margin-right: 10px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}